@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-button {
    @apply px-6 py-2 tracking-widest text-gray-500 transition-colors hover:text-[#f7ab0a]/40 uppercase
  }
  .section-heading {
    @apply absolute top-16 left-0 w-full tracking-[20px] text-gray-500 text-2xl text-center uppercase
  }

  .contact-input {
    @apply px-6 py-4 outline-none bg-slate-400/10 rounded-sm border-b border-[#242424]
      text-gray-500 placeholder-gray-500 transition-all
      focus:border-[#f7ab0a]/40 focus:text-[#f7ab0a]/40
  }
}

:root {
  background-color: #242424;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(156 163 175 / 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(247 171 10 / 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(247 171 10);
}

.overflow-x-scroll::-webkit-scrollbar {
  height: 12px;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  background-color: #242424;
}